body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
:root {
    --button-color: #6CB840;
    --span1-color: #6CB840;
    --span2-color:  #EAAB1B;
  }
.wrapper{
   background-color: #cccccc;
   margin: 2em;
   padding-left: 2em;

}
.circle{
    background-color: var(--button-color);

}
.nav{
    display: flex;
    padding: 1em;
	margin: 1em;
}
.cont1{
     text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      justify-content: space-between;
}
.cont2{
      text-align: left;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      justify-content: space-between;
      clear: both;
}
.one li{
    display:inline;
    padding: 0.5em;
}
.two li{
    display:inline;
    padding: 0.5em;
}

.span1{
    color: var(--span1-color);
}
.span2{
    color: var(--span2-color);
}
.headerpara{
    padding: 2em;
	margin: 2em;
}
.order{
    color: white;
    background-color: var(--button-color);
    border: var(--button-color);
    border-radius: 2em;
    width: 100px;
    height: 30px;
}

 .cont3{
    padding: 40px 0;
 }

 /* section */
 #wrapper{
     display: inline-block;
 }
.row{
    display: flex;
    margin: 0;

}
.container{
    display: inline;
}
 .promoimg{
    width: 50%; /*image width*/
    /*image position*/
    margin: 0;
    
   
 }
 .promo{
    width: 50%;
    float: right;
    font-size: 12px;
	padding-top: 2em ;
	margin: 25px 0;
	padding-bottom: 2em;
    text-align: center;
 }
.promo h1{
    color: var(--span2-color);
}

/* section */

.headings{
    text-align: center;
}